@font-face {
    font-family: 'DIN Next LT Pro';
}
/*text font START*/

@font-face {
    font-family: NYPFontRegular;
    src: url('../fonts/DINNextLTPro-Regular.otf');


    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NYPFontMedium;
    src: url('../fonts/DINNextLTPro-Medium.otf');

    
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: NYPFontBold;
    src: url('../fonts/DINPro-Bold.ttf');

    
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: NYPFontBlack;
    src: url('../fonts/DINPro-Black.ttf');

    
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: NYPFontLight;
    src: url('../font/DINPro-Light.ttf');

    
    font-weight: 300;
    font-style: normal;
}

* {
    font-family: NYPFontRegular;
}
/*text font END*/