.btn
  border-raidus: 0px
  text-transform: uppercase
  font-family: NYPFontRegular
.btn-success
  padding: 10px 10px
.btn-info
  padding: 10px 10px
.btn-danger
  font-weight: bold
  font-size: 20px
.btn-primary
  font-size: 20px
  font-weight: bold
.btn-angle
  color: #fff
  background-color: $color-info
  font-size: 20px
  padding: 10px 20px
.btn-angle:hover, .btn-angle:focus
  color: #fff
  background-color: #021050
